body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  border-radius: 3px;
}

table, th {
  padding-right: 5px;
}

.button {
  margin-top: 10px;
  border-radius: 2px;
}

.tournamentTable {
  display: inline-block;
}

.error {
    color: red;
}

#register{
  color: DodgerBlue;
}
#register:hover{
  color: MediumBlue;
  text-decoration: underline;
  cursor: pointer;
}

#RSVP{
  padding: 2px;
  background-color: Red;
  color: White;
  font-weight: bold;
  float: right;
  border-radius: 7px;
}